* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

#wrap {
  margin: auto;
  width: 100%;
}

body {

  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  background-size: cover;
}

main p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  letter-spacing: 0.5em;
  color: #ffffff;
  font-family: 'Lexend', sans-serif;


}

.sec-lead {
  padding: 20px;
  /* display: inline-block; */
}

.sec-lead-title {
  text-align: center;
}

.sec-lead-title p {
  text-align: center;
}

/* .sec-img {
    width: 800px;
} */



.container-img {
  flex: 1;
  padding: 20px;
}

.container-text {
  flex: 2;
}

.item {
  padding: 20px;
  width: 50%;
  box-sizing: border-box;
  background-color: #fffff9;
}

.item img {
  width: 100%;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 30px; */
  padding: 30px;
  background-color: #fffff9;
}

.sec-lead-title {
  top: 50px;
  margin: 50px;
}

h1 {
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  font-style: normal;
  /* text-align: center; */
  letter-spacing: 0.30em;
  color: #281a14;
  /* display: flex; */
}

p {
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.18em;
  color: #281a14;

  /* display: inline-block; */
}

.container-text {
  /* padding: 40px;
      height: auto;
      margin-top: 50px;
      margin-left: 150px; */
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2rem;
  color: #281a14;
  line-height: 30px;
  display: block;
  font-size: 10px;
  text-align: center;
  list-style: none;
}

.circle img {
  border-radius: 50%;
  margin-top: 100px;
  margin-left: 70px;
  width: 300px;
  max-width: 300%;
}

.container-text2 {
  padding: 30px;
  margin-top: 50px;
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #302916;
  line-height: 30px;
  text-decoration:underline;/*下線を引く*/
  text-decoration-color:#ffe033;/*下線を赤色*/
  border-width: 100px;

}

.sec-img1 {
  padding: 5%;
}

.sec-img2 {
  padding: 5%;
}

.sec-img3 {
  padding: 5%;
}

figure {
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 0.15em;
  text-align: center;
  color: #281a14;
}

/*.figcaption {
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #281a14;
}*/

.result-text {
  padding: 60px;
  margin-top: 100px;
  text-align: center;
  font-family: "Zen Kaku Gothic New", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.1rem;
  color: #d8b000;
  line-height: 50px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

footer {
  background-color: #ffffff;
  width: 100%;
  padding: 70px 0;
  font-size: 10px;
  font-family: 'Lexend', sans-serif;
  text-align: center;
  color: #b7b7b7;

}

img {
  width: 100%;
  height: auto;
}

/* タブレット */
@media all and (min-width: 600px) {
  header {
    display: flex;
  }

  header ul {
    margin-top: 0;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 5%;

  }

  p {
    font-size: 12px
  }

  .p3 {
    text-decoration:underline;/*下線を引く*/
    text-decoration-color:#ffcc00;/*下線を赤色*/
    border-width: 50px;
  }


  .main-menu ul {
    display: block;
  }

  .main-menu ul li {
    text-align: center;
  }

  main {
    display: block;
    flex-direction: unset;
  }

  .sub-menu ul li {
    text-align: center;
  }

  .container {
    display: flex;
    gap: 20px;
   padding: 30px;
  }

  .container.red {
    flex-direction: row-reverse;
  }

  .sec-img1 {
    padding: 5%;
  }

  .sec-img2 {
    padding: 5%;
  }

  .sec-img3 {
    padding: 5%;
  }

  figure {
    font-size: 18px;
    padding: 5px;
  }

  .container-text {
    font-size: 15px
  }

  .container-text2 {
    font-size: 25px
  }

  .result-text {
    font-size: 10px;
    padding: 20px;
  }

}

/* パソコン用 */
@media all and (min-width: 1025px) {

  .item {
    width: 33.3%;
  }

  h1 {
    margin-bottom: 3%;

  }

  p {
    font-size: 130%;
    margin-bottom: 10%;
  }

  .sec-lead {
    padding: 150px;
    /* display: inline-block; */
  }

  .sec-img {
    width: 800px;
    margin: 0 auto;
  }

  .sec-img1 {
    padding: 5%;
  }

  .sec-img2 {
    padding: 5%;
  }

  .sec-img3 {
    padding: 5%;
  }

  figure {
    font-size: 18px;
  }

  .result-text {
    font-size: 18px;
  }

}
